<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="{% static 'index.css'%}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="{% block logo %} {% endblock %}" href="{% url 'recognition:index' %}">Leaves Recognition</a>
        </div>
        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ui class="nav navbar-nav">
                <li class="{% block all_pic %}{% endblock %}">
                    <a href="{% url 'recognition:all_pic' %}">
                        <span class="glyphicon glyphicon-list-alt"aria-hidden="true"></span>&nbsp;
                        All recognized pictures
                    </a>
                </li>
            </ui>
            <form class="navbar-form navbar-left" role="search" method="get" action="" accept-charset="utf-8">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                         </button>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                <li><a>You logged in as {{user}}</a></li>
                <li>
                    <a href="{% url 'auth_logout' %}">
                        <span class="glyphicon  glyphicon-off" aria-hidden="true"></span>&nbsp;
                        Logout
                    </a>
                </li>
                {% else %}
                <li class="{% block login_active %} {% endblock %}">
                    <a href="{% url 'auth_login' %}">
                        <span class="glyphicon  glyphicon-log-in" aria-hidden="true"></span>&nbsp;
                        Login
                    </a>
                </li>
                <li class="{% block register_active %} {% endblock %}">
                    <a href="{% url 'registration_register' %}">
                        <span class="glyphicon  glyphicon-user" aria-hidden="true"></span>&nbsp;
                        Register
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>