{% extends 'base.html' %}
{% block title %}Leaves Recognition{% endblock %}
{% block body %}
<section class="container col-centered" style="margin-top:20px;">
    <div class="row col-centered good_row" align="center">
        <figure class="col-md-5  col-centered">
            <div class="thumbnail">
            <div class="caption">
                <p>Result:</p>
                <p>{{result.0|title}} ~ {% widthratio result.1 1 100 %}%</p>
                <canvas id="myDoughnutChart" style="max-width:100%"></canvas>
                <script>
                var ctx = document.getElementById("myDoughnutChart");
                var data = {
                    labels: [
                        "{{result.0|title}}",
                        "{{result.2|title}}"
                    ],
                    datasets: [
                        {
                            data: [{{result.1}}*100, {{result.3}}*100],
                            backgroundColor: [
                                "#FF6384",
                                "#36A2EB"
                            ],
                            hoverBackgroundColor: [
                                "#FF6384",
                                "#36A2EB"
                            ]
                        }]
                };
                    var myDoughnutChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: data,
                        options: {
                            responsive: false
                        }
                    });
                </script>
            </div>
                </div>
        </figure>

        <figure class="col-md-7  col-centered" style="margin-right:0px;">
            <div class="thumbnail">
            <div class="caption">
                <p>Your Image:</p>
                <img src='{{image.url}}' style="display: block;object-fit: cover;height: 329px;max-width: 100%;"/>
            </div>
                </div>
        </figure>
    </div>
    <div class="row good_row">
        <div class="col-lg-12">
            <div class="thumbnail">
                <div style="margin:20px; text-align: justify;text-indent: 1.5em;line-height: 1.5">
                    <p style="text-align: center;"><b>{{tree.title|upper}}</b></p>
                    <p style="margin-bottom: 0em;">
                        <img src="{{tree.image.url}}" align="left" style="margin: 0px 20px 10px 0px;height: 329px;max-width: 100%;"/>
                        {{tree.description|safe}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}